<hibernate-configuration>
    <session-factory>
        <!--&lt;!&ndash; Database Connection Settings &ndash;&gt;-->
        <!--<property name="connection.driver_class">org.postgresql.Driver</property>-->
        <!--<property name="connection.url">jdbc:postgresql://ec2-54-163-245-3.compute-1.amazonaws.com:5432/dbjmincdcha8an</property>-->
        <!--<property name="hibernate.connection.username">uorxfojqdrfkpk</property>-->
        <!--<property name="hibernate.connection.password">y5LSbU8IxqjWA-4jF6wlrcxcq4</property>-->


        <!--&lt;!&ndash; SQL Dialect &ndash;&gt;-->
        <!--<property name="dialect">org.hibernate.dialect.PostgreSQL92Dialect</property>-->

        <!--&lt;!&ndash; Create the database schema on startup &ndash;&gt;-->
        <!--<property name="hbm2ddl.auto">update</property>-->

        <!--&lt;!&ndash; Show the queries prepared by hibernate &ndash;&gt;-->
        <!--<property name="show_sql">true</property>-->

        <!-- Names the annotated entity classes -->
        <mapping class="com.lawlietblack.springtrees.model.Tree"/>
        <mapping class="com.lawlietblack.springtrees.model.Person"/>
        <mapping class="com.lawlietblack.springtrees.model.Marriage"/>
    </session-factory>
</hibernate-configuration>