<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="tree" type="com.lawlietblack.springtrees.model.Tree"*/-->
<!--/*@thymesVar id="person" type="com.lawlietblack.springtrees.model.Person"*/-->
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!--<link rel="icon" th:href="@{/favicon.png}" />-->

    <link rel="stylesheet" th:href="@{/vendor/materialize/css/materialize.css}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" th:href="@{/app.css}" />
    <title th:text="'Spring Trees | ' + ${tree.name}"></title>
</head>
<body>
    <div class="navbar-fixed">
        <nav class="teal">
            <div class="container">
                <a th:href="@{/}" class="brand-logo">Spring Trees</a>
                <a href="#" data-activates="mobile-nav" class="button-collapse right"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li class="active"><a th:href="@{/}">Home</a></li>
                </ul>
                <ul id="mobile-nav" class="side-nav">
                    <li class="active"><a th:href="@{/}">Home</a></li>
                </ul>
            </div>
        </nav>
    </div>

    <h1 th:text="${tree.name}" class="center-align teal-text"></h1>
    <main id="tree" class="grey lighten-3 ">
        <div id="graph"></div>
    </main>

    <div id="addMarriageModal" class="modal">
        <div class="modal-content">
            <h5>Married to <span id="related-person"></span></h5>
            <div class="input-field">
                <input id="spouseName" type="text" name="spouseName"/>
                <label for="spouseName">Spouse Name</label>
            </div>
            <div class="input-field">
                <select name="spouseGender" id="spouseGender">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
                <label for="spouseGender">Spouse Gender</label>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" id="add-marriage-submit" class="modal-action modal-close waves-effect waves-green btn-flat add-confirm">Add</a>
        </div>
    </div>

    <div id="addChildModal" class="modal">
        <div class="modal-content">
            <h5>Child of to <span id="first-parent"></span> and <span id="second-parent"></span></h5>
            <div class="input-field">
                <input id="childName" type="text" name="childName"/>
                <label for="childName">Child Name</label>
            </div>
            <div class="input-field">
                <select name="childGender" id="childGender">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
                <label for="spouseGender">Child Gender</label>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" id="add-child-submit" class="modal-action modal-close waves-effect waves-green btn-flat add-confirm">Add</a>
        </div>
    </div>
    <script th:src="@{/vendor/jquery/jquery.js}"></script>
    <script th:src="@{/vendor/lodash/lodash.js}"></script>
    <script th:src="@{/vendor/materialize/js/materialize.js}"></script>
    <script th:src="@{/vendor/d3/d3.js}"></script>
    <script th:src="@{/vendor/dTree/dTree.js}"></script>
    <script th:src="@{/js/tree.js}"></script>
</body>
</html>