<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="tree" type="com.lawlietblack.springtrees.model.Tree"*/-->
<!--/*@thymesVar id="person" type="com.lawlietblack.springtrees.model.Person"*/-->
<!--/*@thymesVar id="link" type="com.lawlietblack.springtrees.model.Link"*/-->
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!--<link rel="icon" th:href="@{/favicon.png}" />-->

    <link rel="stylesheet" th:href="@{/vendor/materialize/css/materialize.css}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" th:href="@{/app.css}" />
    <title th:text="'Spring Trees | ' + ${tree.name}"></title>
</head>
<body>
    <div class="navbar-fixed">
        <nav class="teal">
            <div class="container">
                <a th:href="@{/}" class="brand-logo">Spring Trees</a>
                <a href="#" data-activates="mobile-nav" class="button-collapse right"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li class="active"><a th:href="@{/}">Explore</a></li>
                    <li><a th:href="@{/categories}">Categories</a></li>
                    <li><a th:href="@{/favorites}">Favorites</a></li>
                </ul>
                <ul id="mobile-nav" class="side-nav">
                    <li class="active"><a th:href="@{/}">Explore</a></li>
                    <li><a th:href="@{/categories}">Categories</a></li>
                    <li><a th:href="@{/favorites}">Favorites</a></li>
                </ul>
            </div>
        </nav>
    </div>

    <h1 th:text="${tree.name}" class="center-align teal-text"></h1>
    <div class="row members">
        <div th:each="person : ${tree.people}" class="col s12 m4 l3 member">
            <div class="card-panel teal white-text">
                <h4 th:text="${person.firstName + ' ' + person.lastName}"></h4>
                <p th:each="link : ${tree.links}"
                   th:text="(${link.getPerson1().equals(person)}) ? ${link.person1Role} + ' of ' + ${link.person2.firstName} :  ((${link.getPerson2().equals(person)}) ? ${link.person2Role} + ' of ' + ${link.person1.firstName}: '')"></p>

            </div>
        </div>
    </div>



</body>
</html>